<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logocircular"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logocircular_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinAI">

        <activity
            android:name="emilio.tolosa.finai.activities.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="emilio.tolosa.finai.activities.HomeActivity"
            android:exported="false" />

        <activity
            android:name="emilio.tolosa.finai.activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name="emilio.tolosa.finai.activities.RegisterActivity"
            android:exported="false" />

        <activity android:name="emilio.tolosa.finai.activities.AIAssistantActivity" android:exported="false" />
        <activity android:name="emilio.tolosa.finai.activities.CameraActivity" android:exported="false" />
        <activity android:name="emilio.tolosa.finai.activities.SensorsActivity" android:exported="false" />

    </application>

</manifest>